/* GENERAL TWEAKS
----------------------- */
ul.nav {
	font-size: 13px;
}

section {
  : 300px;
}

.spacer {
	padding-bottom: 40px;
}

.jumbotron {
  padding-top: 64px;
  padding-bottom: 64px;
}

.alert {
  padding: 0px 15px 15px 15px;
}

footer {
  padding: 30px 0;
}

.navbar-right {
  padding-right: 20px;
}

.contact-btns {
  padding: 50px;
}

.banner {
  padding-top: 30px;
  background-color: #fafafa;
}

.page-header {
  padding-top: 30px;
}

.page-header-no-underline {
  padding-top: 30px;
  padding-bottom: 9.5px;
  margin: 42px 0 21px;
}

.aboutme {
  padding-bottom: 20px;
}

.squish {
  line-height: 1;
}

code {
  color: #0071A6;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-indicators{
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  background-color:black;
}

@media (max-width: 767px) {
  .carousel {
    height: 200px;
  }

  .carousel .item {
    height: 200px;
  }

  .carousel-inner > .item > img {
    height: 200px;
  }
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}