<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kevin Xing</title>

    <!-- Bootstrap core CSS -->
    <link href="{{site.url}}/css/bootstrap5.min.css" rel="stylesheet">
    <link href="{{site.url}}/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{site.url}}/css/custom.css" rel="stylesheet">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7762556103293531"
     crossorigin="anonymous"></script>

     <script type="text/javascript">
        amzn_assoc_ad_type = "link_enhancement_widget";
        amzn_assoc_tracking_id = "kevinxing01-20";
        amzn_assoc_linkid = "da858940aa9477be32d873d05a466618";
        amzn_assoc_placement = "";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
    </script>
    <script src="https://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=US"></script>
</head>