{% if site.work_experience %}
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for job in site.work_experience reversed %}
        <div class="col">
            <div class="card shadow-sm">
                <img height=200px class="mx-auto p-1" src="images/work_logos/{{job.short}}.png" focusable="false">  
                <div class="card-body">
                    <h5 class="card-title">{{job.company}}</h5>
                    <h7>{{job.location}}</h7>
                    <h6 class="card-subtitle text-muted pt-2">{{job.position}}</h6>
                    <p class="card-text">{{job.excerpt | markdownify}}</p>
                    {% if job.content.size > job.excerpt.size %}
                    <a href="{{job.url}}">Read more</a>
                    {% endif %}
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">{{ job.date | date: "%B %Y" }} {% if job.end %} - {{job.end | date: "%B %Y" }}{% endif %}</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}