body {
	background-color: black;
}

p {
	color: #37605c;
	font-family: 'Muli', sans-serif;
}

a {
	color: #37605c;
}

a:hover {
	color: #5ec0bf;
	text-decoration: none;
}

h1 {
	color: #5ec0bf;
	font-family: 'Khand', sans-serif;
}

hr {
	border-color: #5ec0bf;
}

.center {
	text-align: center;
}

.upsize {
	font-size: 27px;
}

.bright {
	color: #5ec0bf;	
}

.lead {
	color: #5ec0bf;
	line-height: 0.4;
	margin-top: 0px;
}

.lead-dark {
	color: #37605c;
	line-height: 0.4;
	margin-top: 0px;
}

.btn {
	padding: 2px 18px;
	font-family: 'Khand', sans-serif;
}

.btn-default {
	color: #5ec0bf;
	background-color: #284e4f;
	border-color: #5ec0bf;
}

.page-header {
	color: #5ec0bf;
	border-color: #5ec0bf;
}

.spacer {
	padding-bottom: 15px;
}

.glyphicon {
	color: #5ec0bf;
}

.carousel-control.right {
	right: 36px;
}


.hoverbright:hover {
	color: #5ec0bf;
}