<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include navbar.html %}

    <div class="container">
        <div class="row">
          <div class="p-5 mb-4 bg-light rounded-3 jumbotron">
            <div class="container py-5">
              <div class="row">
                <div class="col-md-9">
                  <h1 class="display-4">{{page.company}}</h1>
                  <p class="lead"><small>{{page.location}}</small></p>
                  <p class="lead">{{page.position}}</p>
                  {{content | markdownify}}
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">{{ page.date | date: "%B %Y" }} {% if page.end %} - {{page.end | date: "%B %Y" }}{% endif %}</small>
                    </div>
                </div>
                <div class="col-md-3">
                  <img src="{{site.url}}/images/work_logos/{{page.short}}.png" class="img-thumbnail">
                </div>
              </div>
              
            </div>
            
          </div>
        </div>
      </div>

    {% include footer.html %}

  </body>

</html>